name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - name: Deploy to Firebase
        run: npx firebase-tools deploy --token "${{ secrets.FIREBASE_SERVICE_ACCOUNT_RABBIT_HUNTING_1F656 }}" --only hosting --project rabbit-hunting-1f656 --non-interactive
